/* 
=========
Section - Rate List
=========
*/

.img-container {
  width: 43px;
  height: 30px;
  margin: 0 1rem 1rem 0;
  object-fit: contain;
}
.container {
  display: flex;
}
.container h2 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.container p {
  text-transform: capitalize;
}
.box {
  box-sizing: border-box;
}
.rate-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.box-1 {
  flex: 0 0 40%;
}
.box-1 p {
  font-size: 0.8rem;
  color: var(--clr-primary);
}

.box-1 h2 {
  font-size: 1rem;
}
.rate-spec {
  color: var(--clr-secondary);
  font-size: 12px;
  text-align: right;
}
.rate-value {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.rate-line {
  background: var(--clr-line);
  height: 1px;
  margin: 1.5rem 0;
}

/* DESKTOP */
@media screen and (min-width: 1500px) {
  .header-text {
    font-size: 2rem;
  }
  .column-container {
    display: flex;
  }

  .rate-form {
    position: absolute;
    top: 17rem;
    right: 10rem;
    max-width: 500px;
  }

  .col-1 {
    flex: 0 1 25rem;
    margin: 1rem 8rem 1rem 0;
  }
  .col-2 {
    justify-self: center;
  }

  article h3 {
    font-size: 1.2rem;
  }

  .btn-flex {
    padding: 0.5rem;
  }
  .btn-flex:hover {
    background: var(--clr-primary);
    color: var(--clr-white);
  }
}

/* VERY SMALL SCREEN */
@media screen and (max-width: 400px) {
  .header-text {
    font-size: 2rem;
    text-align: center;
  }
  .img-container {
    width: 43px;
    height: 30px;
    margin: auto;
    object-fit: contain;
  }
  .container {
    flex-direction: column;
  }
  .container h2 {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    text-align: center;
    padding: 1rem;
  }
  .rate-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .box-1 p {
    text-align: center;
    font-size: 0.8rem;
  }
  .rate-spec {
    text-align: center;
  }
}
